node_modules/
node.conf
zcash.conf
zcashd.old
zcashdarm
zc5.8
wallet.html
views.zip
routes.zip
sendpublic.sh
shieldfunds.sh
pwmled.js
oldroutes/
oldviews
oldindex.js
mountdrive.js
ledtest.js
encr.js
fetch-params.sh
curlinfo.sh
