[Unit]
Description=Zcashd node software startup
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/zcash-nodejs
ExecStartPre=/usr/bin/sudo setcap 'cap_net_bind_service=+ep' /usr/bin/node
ExecStart=/usr/bin/node index.js
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
