<html>
    <head>
        <title>Zcash node Wallet</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
	<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js" integrity="sha512-a+SUDuwNzXDvz4XrIcXHuCf089/iJAoN4lmrXJg18XnduKK6YlDHNRalv4yd1N40OKI80tFidF+rqTFKGPoWFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
      </head>
    <body>
        <div class="main-container d-flex">
<div class="spinner-wrapper">
<div class="spinner-border" role="status">
</div>
<h2 class="mb-0">Loading...</h2>
</div>

          <div class="sidebar" id="side_nav">
            <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
              <h1 class="fs-4"><span class="bg-white text-darkblue rounded shadow px-2 me-2">Z</span><span class="text-white">Zcash Node</span></h1>
            <button class="btn d-md-none d-block close-btn px-1 py-0 text-white"><i class="fa-solid fa-bars"></i></button>
            </div>
            <ul class="list-unstyled px-2 lsb">
              <li class="slowcolor"><a href="/" class="text-decoration-none px-3 py-2 d-block"><i class="fa-sharp fa-solid fa-house fa-fw"></i>Dashboard</a></li>
              <li class=" slowcolor"><a href="/settings" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-gear fa-fw"></i>Settings</a></li>
              <li class="active slowcolor"><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-wallet fa-fw"></i>Wallet</a></li>
              <li class="slowcolor"><a href="#" onclick="openssh()" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-network-wired fa-fw"></i>Web-SSH</a></li>
            </ul>
            <!-- made by animal spirits -->
            </div>
<div class="content">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="topname">
    <div class="container-fluid">
      <div class="d-flex justify-content-between d-md-none d-block">
      <a class="navbar-brand fs-4" href="#">Zcash node</a>
      <button class="btn px-1 py-0 open-btn"><i class="fa-solid fa-bars"></i></button>
    </div>
<ul class="navbar-nav ms-auto">
    <li class="nav-item">

        <a class="nav-link active" aria-current="page" id="logout" href="#">logout</a>

        </li></ul>

<!--
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav  mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">logout</a>
          </li>
          
          
        </ul>
        
      </div>
-->
    </div>
  </nav>
  <div class="row head-box d-flex">
    <div class="bg-blue "><i class="fa-solid fa-wallet"></i>
     
    </div>
    <div class="col col-md-auto ">
    <h4>Wallet</h4>
    
  </div>
  <hr class="my-4" />
  </div>
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
            
            <div class="my-0">
                
                
                
                
                <div class="row justify-content-center p-3">
               
		 <div class="col-6">
                    <button id="importbkp" class="btn btn-copy btn-primary mb-4 ">
                      Import wallet <i class="fa-solid fa-file-import"></i>
                    </button>
                  </div>
                  <div class="col-6">
                    <button id="walletbkp" class="btn btn-copy btn-primary mb-4">
                      Export wallet <i class="fa-solid fa-file-export"></i>
                    </button>
                  </div>
                  <div class="col-12 my-3">
                  <select id="walletlist" class="form-select form-select-lg custom-sel" aria-label=".form-select-lg example" placeholder="Select address from wallet">
                   <option value="" hidden selected disabled>Select address from wallet</option>
                     </select>
                </div>
                <div class="col-md-3 my-2">
                  <button id="newaddress" class="btn btn-copy btn-primary p-3">
                   New address <i class="fa-solid fa-plus"></i>
                  </button>
                </div>
                <div class="col-md-3 my-2">
                  <button id="receivebtn" class="btn btn-copy btn-primary p-3">
                    Receive funds<i class="fa-solid fa-copy"></i>
                  </button>
                </div>
                <div class="col-md-3 my-2">
                  <button id="txnhistory" class="btn btn-copy btn-primary p-3">
                    Transaction history <i class="fa-solid fa-clock-rotate-left"></i>
                  </button>
                </div>
                </div>
                  <div class="row m-3 px-4 mx-4 justify-content-center">
                   <div class="col-md-12 tend text-center">
                 <h4 class="mb-0 "> <svg style="color: rgb(94, 0, 181);height:1.5em;" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Zcash</title><path d="M12 0C5.382 0 0 5.382 0 12s5.382 12 12 12 12-5.382 12-12S18.618 0 12 0zm0 22.02C6.474 22.02 1.98 17.526 1.98 12S6.474 1.98 12 1.98 22.02 6.474 22.02 12 17.526 22.02 12 22.02zm4.28-13.763V6.431h-3.274V4.42h-2.012V6.43H7.72v2.423h5.079l-5.08 6.889v1.826h3.275v2.002h2.012v-2.002h3.275v-2.422H11.2z" fill="#5e00b5"></path></svg>  
                    Balance : </h4></div>
                    <div class="col-md-12 tcent text-center mt-3"><h2 id="balance" class="mb-0"></h2></div>
                  </div>

                  <div class="row m-1 mt-3 mb-3">
                    <h3 style="color: #5e00b5!important;">Send Zcash : </h3>
                  </div>

                <div class="list-group mb-5 shadow">
                    <div class="list-group-item px-4 pt-4">
                        <div class="row align-items-center input-box px-4">
                          <div class="input-field px-4">
                            <input type="text" class="input" id="toaddr" required="" autocomplete="off">
                            <label for="toaddr">To Address</label>
                        </div>
                        </div>
                    </div>
                    <div class="list-group-item pt-4 px-4">
                      <div class="row align-items-center input-box px-4">
                        <div class="col-11">
                        <div class="input-field px-4">
                          <input type="number" class="input" id="amt" required="" autocomplete="off">
                          <label for="amt">Amount</label>
                      </div>
                    </div>
                    <div class="col-1">
                      <button id="max" class="btn btn-primary rounded-pill">Max</button>
                    </div>
                      </div>
                  </div>
                  <div class="list-group-item pt-4 px-4">
                    <div class="row align-items-center input-box px-4">
                      <div class="col-11">
                      <div class="input-field px-4">
                        <input type="number" class="input" id="txnfees" disabled="disabled" autocomplete="off">
                        <label for="txnfees">Transaction fees</label>
                    </div>
                  </div>
                  <div class="col-1">
                  <div class="form-check form-switch">
  		  <input id="txnchk" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
			<label class="form-check-label" for="flexSwitchCheckDefault"></label>
		  </div> 
                  </div>
                    </div>
                </div>
              
                </div>
                <div class="row m-4">
                  <div class="btn-group">
                  <button id="sendfund" class="btn btn-primary mb-4 mx-4 btn-lg btn-block">Send</button>
              
              
                <button class="btn btn-danger mb-4 mx-4 btn-lg btn-block">Reset</button>
              </div>
              </div>
               
             
            </div>
        </div>
    </div>
    
    </div>
</div>
</div>

<div class="modal fade" id="receivemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Deposit address</h5>
      </div>
      <div class="modal-body">
       <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link navbtn active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">UA</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link navbtn" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Transparent</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link navbtn" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Shielded</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"><div class="d-flex justify-content-center my-3"><div id="qrcodeua"></div></div><div class="d-flex justify-content-center my-3"><div id="uaid" class="mb-0"></div></div></div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"><div class="d-flex justify-content-center my-3"><div id="qrcodetransparent"></div></div><div class="d-flex justify-content-center my-3"><div id="transid" class="mb-0"></div></div></div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"><div class="d-flex justify-content-center my-3"><div id="qrcodeshielded"></div></div><div class="d-flex justify-content-center my-3"><div id="shieldedid" class="mb-0"></div></div></div>
</div>
      </div>
      <div class="modal-footer">
        <button id="closemodal" type="button" class="btn btn-primary">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="txnmodal" tabindex="-1" role="dialog" aria-labelledby="txnmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Transactions</h5>
      </div>
      <div id="txnbody" class="modal-body">
	<div id="txntable">
	
	</div>

</div>
      <div class="modal-footer">
        <button id="closemodal1" type="button" class="btn btn-primary">Close</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="gettxnmodal" tabindex="-1" role="dialog" aria-labelledby="txnmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Transaction Details</h5>
      </div>
      <div id="Txndetailsbody" class="modal-body">
        <div class="d-flex flex-wrap justify-content-between align-items-center fw-bold" style="color:#5e00b5">
	<div class="col-6 fs-5">Transaction ID : </div>
	<div class="col-6 " style="overflow-wrap: anywhere;"><div class="d-flex flex-wrap justify-content-between align-items-center"><div class="col-8" id="blktxn" style="overflow-wrap: anywhere;">Newtxidrjhejhdbmndndnn3m3nm3nwmn3n3m3m2nemn34ementgkengm</div><div class="col-1"><i id="txncopy" class="fa-solid fa-copy fa-xl"></i></div><div class="vr"></div><div id="txnlink" class="col-1"> <i class="fa-solid fa-link fa-xl"></i></div></div></div>
        <div class="col-6 fs-5">Block Height : </div>
        <div class="col-6 " id="blkhei">23437372</div>
        <div class="col-6 fs-5">Confirmations : </div>
        <div class="col-6 " id="blkcnf">270</div>
        <div class="col-6 fs-5">Transaction Type : </div>
        <div class="col-6 " id="blktyp">Shield</div>
        <div class="col-6 fs-5">Transaction Status</div>
        <div class="col-6 " id="blksta">Mined</div>
        <div class="col-6 fs-5">Amount : </div>
        <div class="col-6 " id="blkamt"> 0.001 Zec</div>
        <div class="col-6 fs-5">Time : </div>
        <div class="col-6 " id="blktim">24/07/2024 13:55Am</div>
	</div>

</div>
      <div class="modal-footer">
        <button id="gettxnclosemodal" type="button" class="btn btn-primary">Close</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="walletimportmodal" tabindex="-1" role="dialog" aria-labelledby="txnmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Import Wallet Instructions</h5>
      </div>
      <div id="Importwalletbody" class="modal-body fw-bold" style="color:#5e00b5">
      Currently , Zcashd does not support importing account from a backup phrase. <br> To manually import any wallet.dat backup , replace the current wallet.dat file inside the Zcash folder of your removable drive.
      </div>

      <div class="modal-footer">
        <button id="importclosemodal" type="button" class="btn btn-primary">Close</button>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="shieldmodal" tabindex="-1" role="dialog" aria-labelledby="shieldmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Shielding confirmation</h5>
      </div>
      <div id="txbody" class="modal-body">
	<h4 id="confirmhead" class="mb-0 text-center">
		Confirm shielding amount 0.03z from tdhjh2h1kh12k3ehrbjkknj ?
	</h4>

      </div>
      <div class="modal-footer">
	<button id="shcnfbtn" type="button" class="btn btn-primary">Shield funds</button>
        <button id="closemodal2" type="button" class="btn btn-primary">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="confirmtxnmodal" tabindex="-1" role="dialog" aria-labelledby="confirmtxnmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirm sending transaction</h5>
      </div>
      <div id="txbody" class="modal-body">
        <h4 id="confirmtxnhead" class="mb-0 text-center">
                Confirm sending amount 0.03z to tdhjh2h1kh12k3ehrbjkknj ?
        </h4>

      </div>
      <div class="modal-footer">
        <button id="sendconfirmbtn" type="button" class="btn btn-primary">Confirm Transaction</button>
        <button id="closetxnmodal" type="button" class="btn btn-primary">Close</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="txnloadingmodal" tabindex="-1" role="dialog" aria-labelledby="confirmtxnmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div id="txbody" class="modal-body">
	<div class="txnloader"><div></div><div></div><div></div></div>
        <h4 class="mb-0 text-center">
                Executing transaction , please wait for 5-15 seconds...
        </h4>

      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="txnalertmodal" tabindex="-1" role="dialog" aria-labelledby="txnalertmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Transaction Alert !</h5>
      </div>
      <div id="txnbody" class="modal-body">
        <h4 id="txnalerthead" class="mb-0 text-center">
	TXn Alert ....
        </h4>

      </div>
      <div class="modal-footer">
        <button id="closetxnalertmodal" type="button" class="btn btn-primary">Close</button>
      </div>
    </div>
  </div>
</div>





<script>


async function showtxn(txid,type,amt)
{
var encrypt = await encryptObj({txid:txid});
 $.ajax({
     contentType: 'application/json',
        type: "POST",
        url: location.protocol+"//"+location.host+"/gettxn",
        data: JSON.stringify(encrypt),
        datatype: 'json',
        success: async function(res) {
               if(res.error==true)
                alert("Error\n"+JSON.stringify(res.message));
                else
                {
                var decryptedData = await decryptData(res.result.encryptedData, res.result.iv, res.result.salt, sessionStorage.getItem("key"));
                var result = JSON.parse(decryptedData);
		console.log("Gettxn = ");
		console.log(JSON.stringify(result));
		$("#blkhei").html(result.message.height);
		$("#blkcnf").html(result.message.confirmations);
		$("#blktxn").html(txid);
		$("#blksta").html(result.message.status);
		$("#blkamt").html(amt);
		$("#blktyp").html(type);
		$("#txnlink").html("<a style=\"color: #5e00b5;\" href=\"https://mainnet.zcashexplorer.app/transactions/"+ txid +"\" target=\"_blank\"> <i class=\"fa-solid fa-link fa-xl\"></i></a>")
		$("#blktim").html(new Date(result.message.timestamp*1000).toLocaleString());
		$("#gettxnmodal").modal("show");
		$("#txnmodal").modal("hide");
                }
                },
        error: function(result) {
            alert('encountered error '+ JSON.stringify(result));
        }
    });

}



function encryptObj(dataToEncrypt)
{

var passphrase = sessionStorage.getItem("key");
var salt = CryptoJS.lib.WordArray.random(16); 
    var iterations = 10000;
    var keySize = 256; 
    var key = CryptoJS.PBKDF2(passphrase, salt, { keySize: keySize / 32, iterations: iterations });
    var iv = CryptoJS.lib.WordArray.random(16);
    var encryptedData = CryptoJS.AES.encrypt(
      JSON.stringify(dataToEncrypt),
      key,
      { iv: iv, mode: CryptoJS.mode.CBC }
    ).toString();

return {"encryptedData":encryptedData , "iv": iv.toString(), "salt": salt.toString()};

}


async function decryptData(encryptedData, iv, salt, passphrase) {
      const key = CryptoJS.PBKDF2(passphrase, CryptoJS.enc.Hex.parse(salt), { keySize: 256 / 32, iterations: 10000 });
      const ivWordArray = CryptoJS.enc.Hex.parse(iv);
      const decryptedData = CryptoJS.AES.decrypt(encryptedData, key, { iv: ivWordArray  ,mode: CryptoJS.mode.CBC}).toString(CryptoJS.enc.Utf8);
return decryptedData
  }

async function chktxn(op,sendtype,amount)
{
console.log("Chktxn op - ");
console.log((op));
var encrypt = await encryptObj({opid:op,type:sendtype,amt:amount,fromadr:$("#walletlist").find(":selected").val()});
 $.ajax({
     contentType: 'application/json',
        type: "POST",
        url: location.protocol+"//"+location.host+"/chktxn",
        data: JSON.stringify(encrypt),
        datatype: 'json',
        success: async function(res) {
               if(res.error==true)
                {
		$("#txnalerthead").html("<b> <u>Error </u> </b> <br> " + JSON.stringify(res.message));
		$("#txnalertmodal").modal("show"); 
		$("#txnloadingmodal").modal("hide");
		}	
                else
                {
                 var decryptedData = await decryptData(res.result.encryptedData, res.result.iv, res.result.salt, sessionStorage.getItem("key"));
                var result = JSON.parse(decryptedData);
                if(result.message!=="success")
                {
                 console.log("Executing");
                 console.log("encrypt = ");
                 console.log(JSON.stringify(encrypt));
                 setTimeout(chktxn, 5000, op, sendtype,amount);
                }
                else{
                $("#txnalerthead").html("Transaction sent Successfully.<br> Transaction ID - <a href=\"https://mainnet.zcashexplorer.app/transactions/" + (result.txid) + "\" >" + (result.txid) + "</a>");
                $("#txnalertmodal").modal("show");
                }
                }
                },
        error: function(result) {
            alert('encountered error '+ JSON.stringify(result));
        }
    });
}






  function openssh() {
  var newUrl ="https://"+window.location.host+":4200"; 
  window.open(newUrl, "_blank"); 
}
	
$(document).ready(async function()
{
jQuery.ajaxSetup({
  beforeSend: function() {
     $('.spinner-wrapper').show();
  },
  complete: function(){
     $('.spinner-wrapper').hide();
  },
  success: function() {}
});



jQuery.fn.selectText = function(){
    this.find('input').each(function() {
        if($(this).prev().length == 0 || !$(this).prev().hasClass('p_copy')) { 
            $('<p class="p_copy" style="position: absolute; z-index: -1;"></p>').insertBefore($(this));
        }
        $(this).prev().html($(this).val());
    });
    var doc = document;
    var element = this[0];
    console.log(this, element);
    if (doc.body.createTextRange) {
        var range = document.body.createTextRange();
        range.moveToElementText(element);
        range.select();
    } else if (window.getSelection) {
        var selection = window.getSelection();        
        var range = document.createRange();
        range.selectNodeContents(element);
        selection.removeAllRanges();
        selection.addRange(range);
    }
};






if(!sessionStorage.getItem("key"))
location.replace(location.origin+"/login");


$("#logout").on("click" , function(e) {
sessionStorage.clear();
location.replace(location.origin+"/login");
});

$("#txncopy").on("click" , function(e) {
$("#blktxn").selectText();
});

var ualist=[],addlist=[],sapbal=0,trbal=0,orbal=0;

$("#closemodal").on('click' , function() {

$('#receivemodal').modal('hide');

});

$("#closetxnalertmodal").on('click' , function() {

$("#txnalertmodal").modal('hide');
location.reload();
});

$("#gettxnclosemodal").on('click' , function() {

$('#gettxnmodal').modal('hide');
$('#txnmodal').modal('show');
});



$("#closemodal1").on('click' , function() {

$('#txnmodal').modal('hide');

});

$("#closetxnmodal").on('click' , function() {

$('#confirmtxnmodal').modal('hide');

});



async function decryptData(encryptedData, iv, salt, passphrase) {
      const key = CryptoJS.PBKDF2(passphrase, CryptoJS.enc.Hex.parse(salt), { keySize: 256 / 32, iterations: 10000 });
      const ivWordArray = CryptoJS.enc.Hex.parse(iv);
      const decryptedData = CryptoJS.AES.decrypt(encryptedData, key, { iv: ivWordArray  ,mode: CryptoJS.mode.CBC}).toString(CryptoJS.enc.Utf8);
return decryptedData
  }






$("#balance").on('click', '#shieldfndbtn' , async function() {
var dataToEncrypt = {"ua":  $("#walletlist").find(":selected").val()};
var encrypt = await encryptObj(dataToEncrypt);
$.ajax({
     contentType: 'application/json',
        type: "POST",
        url: location.protocol+"//"+location.host+"/addresslist",
        data: JSON.stringify(encrypt),
        datatype: 'json',
        success: async function(res) {
		 if(res.error==false)
                {
			var decryptedData = await decryptData(res.message.encryptedData, res.message.iv, res.message.salt, sessionStorage.getItem("key"));
			var result = JSON.parse(decryptedData);
			console.log(result);
			$("#confirmhead").html("Confirm shielding Amount : "+trbal+ " <br>from address : "+ result.result.p2pkh + " ? ");
			$("#shcnfbtn").on('click' , async function() {
			$('#shieldmodal').modal('hide');
			var encrypt = await encryptObj({orchard: result.result.orchard,from : result.result.p2pkh,amount : trbal});
				$.ajax({
     contentType: 'application/json',
        type: "POST",
        url: location.protocol+"//"+location.host+"/shieldfunds",
        data: JSON.stringify(encrypt),
        datatype: 'json',
        success: async function(result1) {
                 if(result1.error==false)
                {
			 var decryptedData = await decryptData(result1.result.encryptedData, result1.result.iv, result1.result.salt, sessionStorage.getItem("key"));
                        var result = JSON.parse(decryptedData);
                        console.log(result);
			$("#txnloadingmodal").modal("show");
			chktxn((result.result.opid),"Shield",trbal);
		}
		 else
                alert("Error encountered - "+JSON.stringify(result1));
                },
		 error: function(result1) {
            alert('error');
        }
    });
			});
		}
                else
                alert("Encountered error = "+JSON.stringify(res.message));
                },
        error: function(result) {
            alert(error);
        }
    });

$('#shieldmodal').modal('show');

});


$("#closemodal2").on('click' , function() {

$('#shieldmodal').modal('hide');

});


$("#txnchk").change(function() {
     if(this.checked)
         $("#txnfees").prop('disabled', false);
    else 
     $("#txnfees").prop('disabled', true);   

$("#txnfees").blur();
});

$("#max").on('click' , function() {

var zec = orbal+trbal+sapbal;
$("#amt").val(zec);
});

$("#importbkp").on('click' , function() {
$("#walletimportmodal").modal("show");
});

$("#importclosemodal").on('click' , function() {
$("#walletimportmodal").modal("hide");
});


$("#receivebtn").on('click' , async function() {
if($("#walletlist").find(":selected").val()=="")
alert("Select and address from the list");
else
{
var dataToEncrypt = {"ua":  $("#walletlist").find(":selected").val()};
var encrypt = await encryptObj(dataToEncrypt);
$.ajax({
     contentType: 'application/json',
        type: "POST",
        url: location.protocol+"//"+location.host+"/addresslist",
        data: JSON.stringify(encrypt),
        datatype: 'json',
        success: async function(res) {
               if(res.error==false)
		{
 var decryptedData = await decryptData(res.message.encryptedData, res.message.iv, res.message.salt, sessionStorage.getItem("key"));
var result = JSON.parse(decryptedData);
result = result.result;
		$("#qrcodeua").html("");
                var qrcode = new QRCode(document.getElementById("qrcodeua"), {
	text: $("#walletlist").find(":selected").val(),
	width: 128,
	height: 128,
	colorDark : "#0f1f2b",
	colorLight : "#ffffff",
	correctLevel : QRCode.CorrectLevel.L
});
$("#qrcodetransparent").html("");
		$("#uaid").html($("#walletlist").find(":selected").val());
var qrcode1 = new QRCode(document.getElementById("qrcodetransparent"), {
        text: result.p2pkh,
        width: 128,
        height: 128,
        colorDark : "#0f1f2b",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.L
});
$("#transid").html(result.p2pkh);
$("#qrcodeshielded").html("");
var qrcode2 = new QRCode(document.getElementById("qrcodeshielded"), {
        text: result.sapling,
        width: 128,
        height: 128,
        colorDark : "#0f1f2b",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.L
});
$("#shieldedid").html(result.sapling);
		}
		else
                alert("Encountered error = "+JSON.stringify(result.message));
                },
        error: function(result) {
            alert('error');
        }
    });

$('#receivemodal').modal('show');

}
});



function encryptObj(dataToEncrypt)
{

var passphrase = sessionStorage.getItem("key");
var salt = CryptoJS.lib.WordArray.random(16); 
    var iterations = 10000;
    var keySize = 256; 
    var key = CryptoJS.PBKDF2(passphrase, salt, { keySize: keySize / 32, iterations: iterations });
    var iv = CryptoJS.lib.WordArray.random(16);
    var encryptedData = CryptoJS.AES.encrypt(
      JSON.stringify(dataToEncrypt),
      key,
      { iv: iv, mode: CryptoJS.mode.CBC }
    ).toString();

return {"encryptedData":encryptedData , "iv": iv.toString(), "salt": salt.toString()};

}


$('#walletlist').on('change', async function() {
var addr = $( "#walletlist option:selected" ).text();   
function isua(ary) {
  return ary.addresses[0].ua === $("#walletlist").find(":selected").val();
}
var acct = (ualist.result.find(isua));
var dataToEncrypt = {"account": acct.account};
var encrypt = await encryptObj(dataToEncrypt);
$.ajax({
     contentType: 'application/json',
	type: "POST",
        url: location.protocol+"//"+location.host+"/balance",
        data: JSON.stringify(encrypt),
        datatype: 'json',
        success: async function(res) {
               if(res.error==false)
                {
		var decryptedData = await decryptData(res.result.encryptedData, res.result.iv, res.result.salt, sessionStorage.getItem("key"));
		var result = JSON.parse(decryptedData);
		var tbal=0,obal=0,sbal=0;
		var btstart = "<button class=\"btn btn-primary rounded-pill m-1\">";
		var btend = "</button>";
		if(result.pools.sapling!==undefined)
		sbal=result.pools.sapling.valueZat/100000000;
		if(result.pools.transparent!==undefined)
                tbal=result.pools.transparent.valueZat/100000000; 
		if(result.pools.orchard!==undefined)
                obal=result.pools.orchard.valueZat/100000000; 
		$("#balance").html(btstart+"Transparent : "+tbal+" Zec"+btend+btstart+"Sapling : "+sbal+" Zec"+btend+btstart+"Orchard : "+obal+" Zec"+btend);
		if(tbal>0)
		$("#balance").append("<button id=\"shieldfndbtn\" class=\"btn btn-primary rounded-pill m-1\">Shield funds</button>");
		orbal = obal;sapbal=sbal;trbal=tbal;
		$("#balance").append("<button id=\"refreshbtn\" onclick=\"location.reload();\" class=\"btn btn-primary rounded-pill m-1\">Refresh <i class=\"fa-solid fa-rotate-right\"></i> </button>");
		}
		else 
		alert("Error - "+JSON.stringify(res.message.message));
                },
        error: function(result) {
            alert('error encountered - '+result);
        }
    });
});


async function deleteduplicate(result)
{
var txid="";
for (var i=0;i<result.length;i++)
	{
		if(txid===result[i].txid)
		result.splice(i-1, 1);
		else
		txid=result[i].txid;
	}
return result;
}


$("#txnhistory").on("click" , async function(e) {
var dataToEncrypt = {"from" : $("#walletlist").find(":selected").val()};
var encrypt = await encryptObj(dataToEncrypt);
if($("#walletlist").find(":selected").val()=="")
alert("Select and address from the list");
else
$.ajax({
  url: location.protocol+"//"+location.host+"/txnhistory",
  contentType: 'application/json',
  type: 'POST',
  data: JSON.stringify(encrypt),
  processData: false,
  datatype: 'json',
  success: async function(res1) {       
	if(res1.error==false)
                {
		  var decryptedData = await decryptData(res1.result.encryptedData, res1.result.iv, res1.result.salt, sessionStorage.getItem("key"));
                  var result1 = JSON.parse(decryptedData);
		  console.log("result 1 = "+JSON.stringify(result1));
		  var appendstr="",txnlist=result1.message.send,ele;
		  var txdivstartsend = `")' class="d-flex flex-wrap justify-content-between align-items-center" style="color:#5e00b5"><div class="txicon col-1 ">
		  <svg xmlns="http://www.w3.org/2000/svg" width="2.5em" height="2.5em" fill="#8a2be2" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
  		  <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8m-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5"/>
		  </svg>
		  </div><div class="txid col-9 col-lg-5 overflow-hidden text-truncate fs-2">`;
		  var txdivstartrec = `")' class="d-flex flex-wrap justify-content-between align-items-center" style="color:#5e00b5"><div class="txicon col-1 ">
		  <svg xmlns="http://www.w3.org/2000/svg" width="2.5em" height="2.5em" fill="#8a2be2" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
		  <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5M10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5"/>
		  </svg>
		  </div><div class="txid col-9 col-lg-5 overflow-hidden text-truncate fs-2">`;
		  var txdivstartshield = `")' class="d-flex flex-wrap justify-content-between align-items-center" style="color:#5e00b5"><div class="txicon col-1 ">
		  <svg xmlns="http://www.w3.org/2000/svg" width="2.5em" height="2.5em" fill="#8a2be2" class="bi bi-shield-lock-fill" viewBox="0 0 16 16">
		  <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.8 11.8 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7 7 0 0 0 1.048-.625 11.8 11.8 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.54 1.54 0 0 0-1.044-1.263 63 63 0 0 0-2.887-.87C9.843.266 8.69 0 8 0m0 5a1.5 1.5 0 0 1 .5 2.915l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99A1.5 1.5 0 0 1 8 5"/>
		  </svg>
		  </div><div class="txid col-9 col-lg-5 overflow-hidden text-truncate fs-2">`;
		  var txdivamt = `</div><div class="txamt col-5 col-lg-2">`;
		  var txdivtime = `</div><div class="txtime col-5 col-lg-2">`;
		  var txdivend = `</div><div class="col col-lg-1"><svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="#8a2be2" class="bi bi-caret-right-square-fill" viewBox="0 0 16 16">
		  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.5 10a.5.5 0 0 0 .832.374l4.5-4a.5.5 0 0 0 0-.748l-4.5-4A.5.5 0 0 0 5.5 4z"/>
		  </svg></div></div><hr class="w-80">`;
		
		  var result = await deleteduplicate(txnlist);
		
		  for(var i=0;i<result.length;i++)

		  {
			
			var txdivstart="<div onclick='showtxn(\""+result[i].txid+"\",\""+result[i].type+"\",\""+result[i].amt;
			if(result[i].type==="Receive")
			txdivstart+=txdivstartrec
			if(result[i].type==="Send")
                        txdivstart+=txdivstartsend
			if(result[i].type==="Shield")
                        txdivstart+=txdivstartshield
			var txappend = txdivstart + result[i].txid + txdivamt + "Amount:<br>"+ result[i].amt +" Zec" + txdivtime + "Time: "+ new Date(result[i].tmstmp*1000).toLocaleString()  + txdivend ;

			appendstr+=txappend;
                  }


		  $("#txntable").html(appendstr);	

	}
  		else
                alert('Error encountered - '+JSON.stringify(res1));
                },
  error: function(result) {
            alert('error encountered - '+JSON.stringify(result));
        }
});



$("#txnmodal").modal("show");

});


$("#walletbkp").on("click" , async  function(e) {
var encrypt = await encryptObj({type: "download"});
 $.ajax({
     contentType: 'application/json',
type: "POST",
        url: location.protocol+"//"+location.host+"/walletexport",
        data: JSON.stringify(encrypt),
        datatype: 'json',
        success: async function(res) {
               if(res.error==true)
                alert("Download failed\n"+JSON.stringify(res));
                else
                {
                var decryptedData = await decryptData(res.result.encryptedData, res.result.iv, res.result.salt, sessionStorage.getItem("key"));
                var result = JSON.parse(decryptedData);
		downloadObject(result , "Wallet_Backup");
                }
                },
        error: function(result) {
            alert('encountered error '+ JSON.stringify(result));
        }
    });




});




function downloadObject(data, filename) {
  const blob = new Blob([JSON.stringify(data)], { type: 'application/octet-stream' });
  const link = document.createElement('a');
  link.href = URL.createObjectURL(blob);
  link.download = filename;
  link.click();
  URL.revokeObjectURL(link.href);
}


$("#sendfund").on("click" , async function(e) {
$("#confirmtxnmodal").modal("show");
var confirmtxt="";
if(!$("#toaddr").val())
alert("Enter valid Zcash address");
else if(!$("#amt").val())
alert("Enter valid amount");
else if($("#txnchk").is(':checked')&&!$("#txnfees").val())
alert("Enter valid transaction fees");
else if(!$("#walletlist").find(":selected").val())
alert("Select from wallet");
else if($("#amt").val()>=sapbal+orbal)
alert("Enter an amount less than funds from the shielded pool. For using funds from transparent addresses without violating your privacy , shield your funds first.");
else
{
if($("#txnchk").is(':checked'))
confirmtxt="Are you sure you want to send ,<br> "+ $("#amt").val() +" Zec <br> to address , " + $("#toaddr").val() + " <br> with Transaction fees - " + $("#txnfees").val() + " Zec?";
else
confirmtxt="Are you sure you want to send , <br>"+ $("#amt").val() +" Zec <br> to address , " + $("#toaddr").val() + " ?";
$("#confirmtxnhead").html(confirmtxt);
}
});


$("#sendconfirmbtn").on("click" , async function(e) {
$("#confirmtxnmodal").modal("hide");
if(!$("#toaddr").val())
alert("Enter valid Zcash address");
else if(!$("#amt").val())
alert("Enter valid amount");
else if($("#txnchk").is(':checked')&&!$("#txnfees").val())
alert("Enter valid transaction fees");
else if(!$("#walletlist").find(":selected").val())
alert("Select from wallet");
else if($("#amt").val()>=sapbal+orbal)
alert("Enter an amount lesse than funds from the shielded pool. For using funds from transparent addresses without violating your privacy , shield your funds first.");
else
{
var txnfees = null;
var txntype = "AllowRevealedAmounts";
if($("#toaddr").val()[0]=="t")
txntype="AllowRevealedRecipients";
if($("#txnchk").is(':checked'))
txnfees = parseFloat($("#txnfees").val());
var encrypt = await encryptObj({ua: $("#walletlist").find(":selected").val(),to: $("#toaddr").val(),amt: parseFloat($("#amt").val()),fees: txnfees,type: txntype});
 $.ajax({
     contentType: 'application/json',
type: "POST",
        url: location.protocol+"//"+location.host+"/send",
        data: JSON.stringify(encrypt),
        datatype: 'json',
        success: async function(res) {
               if(res.error==true)
		alert("Transaction failed\n"+JSON.stringify(res));
		else
		{
		 var decryptedData = await decryptData(res.result.encryptedData, res.result.iv, res.result.salt, sessionStorage.getItem("key"));
                var result = JSON.parse(decryptedData);
		$("#txnloadingmodal").modal("show");
		chktxn((result.result),"Send", $("#amt").val());
		}
		},
        error: function(result) {
            alert('encountered error '+ JSON.stringify(result));
        }
    });
}

});

$("#newaddress").on("click" , async function(e) {
var encrypt = await encryptObj({type: "new"});

$.ajax({
     contentType: 'application/json',
type: "POST",
        url: location.protocol+"//"+location.host+"/newaddr",
        data: JSON.stringify(encrypt),
        datatype: 'json',
        success: async function(res) {
		if(res.error)
                {alert("Error encountered - "+JSON.stringify(res));}
                else{
                var decryptedData = await decryptData(res.message.encryptedData, res.message.iv, res.message.salt, sessionStorage.getItem("key"));
                var result = JSON.parse(decryptedData);
                alert("Result - "+result.message);
		location.reload();
                }
		},
        error: function(result) {
            alert('error encountered - '+JSON.stringify(result));
        }
    });


});
var encrypt = await encryptObj({type: "transparent"});
 $.ajax({
     contentType: 'application/json',
type: "POST",
        url: location.protocol+"//"+location.host+"/wallet",
        data: JSON.stringify(encrypt),
        datatype: 'json',
        success: async function(res) {
		if(res.error)
		{alert("Error encountered - "+JSON.stringify(res.message));}
		else{
		var decryptedData = await decryptData(res.result.encryptedData, res.result.iv, res.result.salt, sessionStorage.getItem("key"));
                var result = JSON.parse(decryptedData);
		ualist=result;
		result.result.forEach((key, index) => {
  			addlist[index] ='<option value="'+ key.addresses[0].ua +'">'+ key.addresses[0].ua +'</option>' ;
			console.log(key);
			
		});
		$('#walletlist').append(addlist);}
                },
        error: function(result) {
            alert('error');
        }
    });


});
  $(".sidebar ul li").on('click' , function(){
    $(".sidebar ul li.active").removeClass('active');
    $(this).addClass('active');

  })
$('.open-btn').on('click', function(){
  $('.sidebar').addClass('active');
});

$('.close-btn').on('click', function(){
  $('.sidebar').removeClass('active');
});


$(document).on("click", function (event) {
console.log("event target = ");
console.log(($(event.target).closest(".open-btn").length));   
if ($(event.target).closest("#side_nav").length === 0 && $(event.target).closest(".open-btn").length !=1 ) {
     $('.sidebar').removeClass('active');
  }
});

</script>

</body>


<style>

:root {
scrollbar-color: #5e00b5 transparent;
scrollbar-width: thin;
}

:root::-webkit-scrollbar-thumb
{
border-radius: 2em;
}



  body
{
    background-color: #f3e7ff;
}
#side_nav
{
    background-color: #8a2be2;
    min-width: 250px;
    max-width: 250px;
}


.navbtn
{
color:#5e00b5;
font-weight: 700;
}

#txnfees:disabled
{
border-bottom: 0.1rem dashed #cfbede;
}

.form-switch .form-check-input {
border: solid 0.2em #8a2be2 !important;
height:2em;
width:3em;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%238a2be2'/%3e%3c/svg%3e") !important;
}

.form-check-input:checked {
    background-color: #8a2be2;
   
}


.form-switch .form-check-input:checked
{
background-image : url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important ;

}

#txntable
{
max-height:70vh;
overflow:auto;
scrollbar-width:thin;
}



.txnloader
{
color:#8a2be2;
}

.txnloader,
.txnloader div {
  box-sizing: border-box;
}
.txnloader {
  display: block;
  margin:auto;
  position: relative;
  width: 200px;
  height: 200px;
}
.txnloader div {
  display: inline-block;
  position: absolute;
  left: 20px;
  width: 40px;
  background: currentColor;
  animation: txnloader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.txnloader div:nth-child(1) {
  left: 20px;
  animation-delay: -0.24s;
}
.txnloader div:nth-child(2) {
  left: 80px;
  animation-delay: -0.12s;
}
.txnloader div:nth-child(3) {
  left: 140px;
  animation-delay: 0s;
}
@keyframes txnloader {
  0% {
    top: 20px;
    height: 160px;
  }
  50%, 100% {
    top: 60px;
    height: 80px;
  }
}





.tend
{
  text-align: end;
}

.btn-copy
{
  height: 100%;
  width: 100%;
}

.custom-sel
{
  height: 100%;
}
  .lsb
{
  position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 50%;
    width:210px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.nav-tabs .nav-link.active{    
border-bottom: .3em solid #8a2be2;
}


.mb-0
{
  color: #5e00b5!important;
  word-break: break-all;
}

.accordion-button{
  color: #5e00b5!important;
    font-weight: bold;
}

.input-field
{
  display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}

.input-field label {
    color: #5e00b5!important;
    font-weight: bold;
}

.input
{
  height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 0.1rem dashed #5e00b5;
    outline: none;
    margin-bottom: 20px;
    color: #5e00b5!important;
}

.input-box .input-field label
{
    position: absolute;
    top: -5px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
} 
.input-field .input:focus ~ label
{
    top: -10px;
    font-size: 13px;
}
.input-field .input:valid ~ label
{
    top: -10px;
    font-size: 13px;
    color: #5d5076;
}
.input-field .input:focus, .input-field .input:valid 
{
    border-bottom: 1px solid #743ae1;
}

.btn-primary
{
  background-color: #8a2be2;
}

.btn-primary:hover
{
  background-color: #5e00b5!important;
}

.spinner-wrapper {
background-color:#f3e7ff;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:999999;
display:flex;
justify-content:center;
align-items:center;
}


.spinner-border {
height:3em;
width:3em;
color:#8a2be2;
}

::-webkit-scrollbar-track {
  background: #f1f1f100; 
}
 

::-webkit-scrollbar-thumb {
  background: #5e00b5; 
  border-radius:.5em;
}

.content
{
    min-height: 100vh;
    width: 100%;
    background-color: #f3e7ff;
}
hr.h-color
{
    background-color: #fff;
    height: 2px;
}
.sidebar li.active
{
    background: #0f1f2b;
    border-radius: 8px;
}
.head-box
{
    margin: 30px 35px 15px 30px !important;
}

.sidebar li.active a:hover, .sidebar li.slowcolor:hover
{
    color: #dfe9eb55;
    background: #a9cccfac;
    border-radius: 6px;
    transition:linear .5s;
}
#noticon
{
    background:#fb6279b3;
}
.sidebar li.active a:hover
{

color: aliceblue;

}
.sidebar li a
{
    color: #fff;
}
.bg-blue
{
    background-color: #9a00bd;
    width: fit-content !important;
    padding: 10px;
    border-radius: 5px;
}

.px-35
{
    padding-left: 1.2rem!important;
    padding-right: 1.2rem!important;
}

@media(max-width: 767px){

  .col-11
  {
    width: 80%;
  }
  .tend{
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .tcent
  {
    text-align: center;
  }

  .col-10
  {
    width: 60%;
  }
    #side_nav{
        margin-left: -250px;
        position: fixed;
min-height: 100vh;
z-index: 1;
transition: all 1s;
    }

    #side_nav.active{
        margin-left: 0;
    }
}
</style>
</html>
